
@{
    ViewBag.Title = "index";
}

<h1 class="text-center">BENVENUTO SU TUTTA SPEDIZIONE</h1>


<div class="text-center  "><strong>se sei un nuovo utente registrati</strong> </div>

<div class="text-center  ">
    @Html.ActionLink("registrati", "Register")
</div>



<div class="text-center  "><strong>conosci gia il nostro sito e sei registato?fai il login </strong> </div>


<div class="text-center  ">
    @Html.ActionLink("login", "Login")
</div>


